<h1>
    YA ESTAS EN EL FORMULARIO
</h1>

<div class="container m-5">
    <form [formGroup]="form" (ngSubmit)="enviar(form)" >
        <div class="form-row">
          <div class="form-group m-1 col-md-6">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre"  placeholder="Alessia">
          </div>
          <div class="form-group m-1 col-md-6">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido" placeholder="Mendez">
          </div>
        </div>
        <div class="form-group m-1 col-md-6">
          <label for="telefono">N° telefono</label>
          <input type="text" class="form-control" formControlName="telefono" placeholder="9566695823">
        </div>
        <div class="form-row">
          <div class="form-group m-1 col-md-6">
            <label for="localidad">Localidad</label>
            <input type="text" class="form-control" formControlName="localidad" placeholder="Caracas, Venezuela">
          </div>

        </div>

        <button  type="submit" class="btn btn-primary">Enviar</button>
      </form>
</div>
<hr>

<app-tabla [data]="datos" (actualizarEvento)="prueba($event)"></app-tabla>