<div class="container-fluid ">
    <h1 class="d-flex justify-content-center">Lorem ipsum </h1>
</div>

<div class="container col">
    <div class="d-flex justify-content-center col">
        <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Nam ratione tempora labore, officiis minus, optio voluptas
             omnis in praesentium quis facilis rem incidunt sint. Dolores
              officiis perspiciatis optio facilis vero repellat totam sequi.
        </h2>
    </div>

        
        
   <div class="row">
    <div class="col-6">
        <img class="caja rounded" src="../../../assets/pg.jpg" alt="No se encontro img">
    </div>
    <div class="col-6">
        <img class="caja rounded" src="../../../assets/pg2.jpg" alt="No se encontro img">
    </div>
    
    
   </div>
</div>


